@import url('https://fonts.googleapis.com/css?family=Roboto');

span {
  font-size: 30px;
  display: block;
  margin-top: 150px;
}

body {
  font-family: 'Roboto';
  color: #2c3e50;
  text-align: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}


button {
  margin-top: 20px;
  outline: none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius: 40px;
  background: #fff;
  border: 2px solid #1abc9c;
  color: #1abc9c;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

button:hover {
  color: white;
  background: #1abc9c;
}